.action-btn {
    display: block;
    width: fit-content;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 61px;
    padding-right: 60px;
    background: #5B6460;
    border: 1px solid #5B6460;
    font-family: 'DIN';
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}